
#contenedorPrincipal {
    -fx-background-color: #fffff; /* gris oscuro */
}

/* Ajustes para el área de registro */
.text-area {
    -fx-font-size: 14px;
}

/* Botones */
.button {
    -fx-font-size: 13px;
}
